<template>
  <footer class="w-full text-center rounded-t-largex border-t border-[#707070] p-4 h-16">
    <button type="button" class="text-white tracking-[0.84px] text-[14px] font-lato bg-gradient-to-r from-test-green to-test-blue hover:bg-gradient-to-br
      h-[40px] w-[100%] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-[12px] text-sm px-[17px] py-2.5 text-center mr-2 mb-2">
      Kostenlos Registrieren
    </button>
  </footer>
</template>