<template>
  <div class="main-bg">
    <div class="pt-2">
      <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <Title />
        <div class="w-full md:w-3/5 mt-6 py-6 text-center">
          <img class="w-full md:w-4/5 z-50" src="~/assets/images/agreement.svg" />
        </div>
      </div>
    </div>
    <Wave/>
  </div>
  <div>
    <Tabs />
  </div>
</template>

<script lang="ts" setup>
import Title from '~/components/Title.vue';
</script>

<style lang="css">
.main-bg {
  top: 0px;
  width: 100%;
  /* background: url("/assets/images/bg1.svg"); */
  background: transparent linear-gradient(141deg, #EBF4FF 0%, #E6FFFA 100%) 0% 0% no-repeat padding-box;
}

</style>