<template>
  <div>
    <div id="upper-border"></div>
    <header class="relative w-full text-center shadow-navbar rounded-b-largex border-b border-grey py-2 h-16 z-auto">
      <div class="absolute inset-y-4 right-2 w-16">
        <button type="button" class="font-lato tracking-[0.84px] text-[14px] text-test-green focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-2 py-2.5 text-center mr-3 md:mr-0">
          Login
        </button>
      </div>
    </header>
  </div>
</template>

<style lang="css">
#upper-border {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 5px;
  /* UI Properties */
  background: transparent linear-gradient(91deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}
</style>