<template>
  <div class="w-full mx-auto px-1 py-16 sm:px-0">
    <div class="w-full px-1 ml-2 py-16 sm:px-0 ">
      <div class="slide" 
        :class="{ 'translate-x-0': selectedIdx == 0, 
          'translate-x-[-120px]': selectedIdx == 1, 
          'translate-x-[-360px]': selectedIdx == 2
        }"
      >
        <div class="flex w-[720px] bg-white relative tabs">
          <button
            class='tabs-item relative py-2.5 z-10 border-2 text-center text-test-green rounded-l-xl w-full focus:outline-none'
            :class="{ 'active text-test-light-green': selectedIdx == 0, 'hover:bg-[#e7fffa]': selectedIdx != 0 }"
            @click="selectedIdx = 0; moveFirst = false"
          >
            {{ categories[0].header }}
          </button>
          <button
            class='tabs-item relative py-2.5 z-10 border-2 text-center text-test-green w-full focus:outline-none'
            :class="{ 'active text-test-light-green': selectedIdx == 1, 'hover:bg-[#e7fffa]': selectedIdx != 1 }"
            @click="selectedIdx = 1"
          >
            {{ categories[1].header }}
          </button>
          <button
            class='tabs-item relative py-2.5 z-10 border-2 text-center text-test-green rounded-r-xl w-full focus:outline-none'
            :class="{ 'active text-test-light-green': selectedIdx == 2, 'hover:bg-[#e7fffa]': selectedIdx != 2 }"
            @click="selectedIdx = 2"
          >
            {{ categories[2].header }}
          </button>
          <span
            class="tab-item-animate bg-test-tab-green shadow"
            :class="{ 'active rounded-l-3xl border-2': selectedIdx == 0, 'rounded-r-3xl border-2': selectedIdx == 2 }" 
          ></span>
        </div>    
      </div>
      <div class="mt-6">
        <div class="bg-white rounded-xl focus:outline-none">
          <div v-show="selectedIdx == 0" class="tab_content">
            <Panel 
              :title="categories[0].title"
              :head0="categories[0].head0"
              :head1="categories[0].head1"
              :head2="categories[0].head2"
              :img0="categories[0].img0"
              :img1="categories[0].img1"
              :img2="categories[0].img2"
            />
          </div>
        </div>

        <div class="bg-white rounded-xl focus:outline-none">
          <div v-show="selectedIdx == 1" class="tab_content">
            <Panel 
              :title="categories[1].title"
              :head0="categories[1].head0"
              :head1="categories[1].head1"
              :head2="categories[1].head2"
              :img0="categories[1].img0"
              :img1="categories[1].img1"
              :img2="categories[1].img2"
            />
          </div>
        </div>

        <div class="bg-white rounded-xl focus:outline-none">
          <div v-show="selectedIdx == 2" class="tab_content">
            <Panel 
              :title="categories[2].title"
              :head0="categories[2].head0"
              :head1="categories[2].head1"
              :head2="categories[2].head2"
              :img0="categories[2].img0"
              :img1="categories[2].img1"
              :img2="categories[2].img2"
            />
          </div>
        </div>      
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue'
// import { TransitionRoot } from '@headlessui/vue'
const selectedIdx = ref(0)
const categories = ref([
  {
    id: 0,
    header: 'Arbeitnehmer',
    title: 'Drei einfache Schritte zu deinem neuen Job',
    head0: 'Erstellen dein Lebenslauf',
    head1: 'Erstellen dein Lebenslauf',
    head2: 'Mit nur einem Klick bewerben',
    img0: '/assets/images/profile.svg',
    img1: '/assets/images/task.svg',
    img2: '/assets/images/personal.svg',
  },
  {
    id: 1,
    header: 'Arbeitgeber',
    title: 'Drei einfache Schritte zu deinem neuen Mitarbeiter',
    head0: 'Erstellen dein Lebenslauf',
    head1: 'Erstellen dein Jobinserat',
    head2: 'Wähle deinen neuen Mitarbeiter aus',
    img0: '/assets/images/profile.svg',
    img1: '/assets/images/aboutme.svg',
    img2: '/assets/images/swipe-profile.svg',
  },
  {
    id: 2,
    header: 'Temporärbüro',
    title: 'Drei einfache Schritte zur Vermittlung neuer Mitarbeiter',
    head0: 'Erstellen dein Unternehmensprofil',
    head1: 'Erhalte Vermittlungs- angebot von Arbeitgeber',
    head2: 'Vermittlung nach Provision oder Stundenlohn',
    img0: '/assets/images/profile.svg',
    img1: '/assets/images/offers.svg',
    img2: '/assets/images/deal.svg',
  },
])
</script>


<style lang="css">

.tab_content {
  -moz-animation: fadein 0.3s;
  -webkit-animation: fadein 0.3s;
  -o-animation: fadein 0.3s;
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { 
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.tab-item-animate {
  position: absolute;
  top: 0px;
  left: 1px;
  width: calc(100%);
  height: 47px;
  transform-origin: 0 0;
  transition: transform 0.5s;
}

.slide {
  transform-origin: 0 0;
  transition: transform 0.5s;
}

.tabs .tabs-item:first-child.active ~ .tab-item-animate {
  transform: translateX(0) scaleX(0.333);
}

.tabs .tabs-item:nth-child(2).active ~ .tab-item-animate {
  transform: translateX(33.333%) scaleX(0.333);
}

.tabs .tabs-item:nth-child(3).active ~ .tab-item-animate {
  transform: translateX(calc(33.333% * 2)) scaleX(0.333);
}

</style>